[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
google-cloud-firestore = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
streamlit-player = "*"
youtube-dl = "*"

[dev-packages]

[requires]
python_version = "3.8"
